/* styles.css */


/* Reset styles and container */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightskyblue;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    padding: 20px;
    border: 1px solid gray;
}


/* Style the dog card container */

.dog {
    background: white;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.card img {
    max-width: 100%;
    /* Ensure the image fits inside the card */
    height: auto;
}

.dog:hover {
    transform: scale(1.05);
}

.AgeContainer {
    display: flex;
    gap: 30px;
}

.age-card {
    padding: 20px;
    border: 1px solid gray;
}

.favoriteButton,
.removeButton {
    display: flex;
    gap: 5px;
}